body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(circle,white,black, blue);
}

.login-container {
  background-image: linear-gradient(to bottom , rgb(71, 8, 244),black, white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 16px 40px pink;
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #fff;
}

.input-group {
  margin-bottom: 15px;
  margin-right: 8%;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0dff00;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #fc0bec;
}

.text-box{
  background-color: rgb(249, 250, 242);
}
.text-box:hover {
  background-color: rgb(232, 237, 164);
}
.password-toggle {
  cursor: pointer;
  color: #eef1f5;
  font-size: 14px;
}

.password-toggle:hover {
  text-decoration: underline;
}
.google-btn{
  width: 100%;
  padding: 10px;
  background-color: #fc1616;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 2%;
}
.facebook-btn{
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}